* {
    box-sizing: border-box;
    margin: 1px;
    padding: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: antiquewhite;
  }

.header {
    display: flex;
    font-size: 25px;
    align-items: center;
    border: 3px solid blueviolet;
    padding-top: 15px;
    padding-bottom: 20px;
    flex-direction: column;
    background-color:aliceblue;
}

.boxone {
    font-size: 15px;
    background-color: aliceblue;
    padding-left: 40px;
    padding-right: 40px;
}

.boxtwo {
  font-size: 15px;
  background-color: aliceblue;
  padding-left: 25px;
  padding-right: 25px;
}

.boxthree {
  font-size: 15px;
  background-color: aliceblue;
  padding-left: 25px;
  padding-right: 25px;
}

.reverse {
  font-size: 55px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.church {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  padding: 10px;
}

.bkgd {
  background-position: center;
  width: 85%;
  height: 125px;
  margin: 25px;
}

